@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors
$black: #000000;
$white: #ffffff;
$gray: #4a5568;
$red: #e53e3e;
$green: #38a169;
$blue: #3182ce;
$indigo: #5a67d8;
$purple: #805ad5;
