import React from 'react'
//import { useSelector, useDispatch } from 'react-redux'
//import RootState from 'domain/RootState'

const {{pascalCase name}} = () => {
  //const example = useSelector((state: RootState) => state.example.value)
  //const dispatch = useDispatch()

  return (
    <div>
      {{pascalCase name}} Component
    </div>
  )
}

export default {{pascalCase name}}
