import React from 'react';
import styles from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = () => {
    return (
        <div className={styles.root}>
            {{pascalCase name}} Component
        </div>
    )
};

export default {{pascalCase name}};